html {
    height: 100%;
  }
  
  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  header {
    flex: 0 40px;
    background-color: rgb(11, 7, 114);
    height: 120px;

  }

  menu{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

  }

  .menu-items{
    margin: 20px;
    padding: 20px;

  }

  div{
    padding: 10px;
    font-size: 1.5em;
  }


  h1{
    text-align: center;
    /* background-color: rgba(4, 0, 255, 0.882); */
    color: white;
    font-family: fantasy;
    font-size: 3em;
    /* padding: 10px; */
    /* margin: 5px; */
    /* border-radius: 30px; */
  }

  main {
    flex: 1 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: lightgray;
  }
  
  footer {
    flex: 0 40px;
    background-color: rgba(0, 0, 0);
    color: white;
    font-size: .7em;

    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
  }

a{
    color: white;
    text-decoration: none;
    font-family: fantasy;
    font-size: 1em;
    
}

img{
  margin: 20px
}

button{
  margin: 0.1em 0;
  background-color: #0a66c2;
  border: 0;
  border-radius: 100px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  min-height: 35px;
  padding: 0 20px;
  text-align: center;
}