.question-box{
    display: flex;
    flex-direction: column;
    height: 100%;

    text-align: center;
    background-color: white;
}

button{
    margin: 0.1em 0;
    background-color: #0a66c2;
    border: 0;
    border-radius: 100px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    min-height: 35px;
    padding: 0 20px;
    text-align: center;
  }