.question-box{
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 40vh;
    width: 100vh;

    text-align: center;
    background-color: white;
}

#user{
    color: black;
}
