.login{
    color: white;
    margin: 40px;
    padding: 20px;
    background-color: #002E5D;

    text-align: center;

    border-radius: 20px;

    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);

}
.login-border{
    /* background-color: rgb(183, 183, 183); */
    margin: 20px;
    border-radius: 100px;
    /* box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3); */

    
}
label{
    /* background-color: white; */
    color: white;
    font: large;
    font-family: fantasy;
    border-radius: 10px;
}
button:hover{
    transition: .5s;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3);
    transform: scale(1.2);
  }