#queueTable{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
    margin: 10px;
}

#AcceptButton:hover{
    transition: 0.15s;
    background: #75a3d2;
    color: white;
  }

h1{
    font-weight: bold;
}

.name{
    font-family: serif;
}

body{
    overflow-y:scroll;
}

.table-light{
    width: 95vw;
    height: 7vh;

    font-size: 1.2em;
    font-family:Georgia, 'Times New Roman', Times, serif;

    background-color: white;


}
#queue{
    text-align: center;
}
td{
    padding: 10px;
    text-wrap: pretty;
}
th{
    padding: 10px;
}